@page "/"

<h1>Raster (Bitmap) Canvas</h1>

<p>The canvas below is using pixels in memory. Click and drag to move the text.</p>

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container">

            <SKCanvasView
                @ref="skiaView" OnPaintSurface="OnPaintSurface" IgnorePixelScaling="true"
                @onpointerdown"OnPointerDown"
                @onkeypress="OnKeyPress"
                style="position:absolute; left:0px; top:0px; width: 100vw; height: 100vh;"/>

        </div>
    </div>
</div>

@code {
    SKCanvasView skiaView = null!;
    SKPoint? touchLocation;
    [Inject] IJSRuntime JS { get; set; } = null!;

    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
    }

    void OnPointerDown(PointerEventArgs e)
    {
    }

    void OnKeyPress(KeyboardEventArgs e)
    {
    }
}